<div class="login-area">
    <div class="row m-0">
        <div class="col-lg-6 col-md-12 p-0">
            <div class="login-image">
                <img src="assets/img/login-bg.jpg" alt="image">
            </div>
        </div>
        <div class="col-lg-6 col-md-12 p-0">
            <div class="login-content">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="login-form">
                            <div class="logo">
                                <a routerLink="/"><img src="assets/img/black-logo.png" alt="image"></a>
                            </div>
                            <p>New to SheForShe ? <a routerLink="/register">Sign up</a></p>
                            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                <mat-form-field appearance="outline">
                                    <mat-label>Username</mat-label>
                                    <input matInput placeholder="Your username" id="userName" formControlName="userName">
                                    <mat-hint style="color: red;" *ngIf="loginForm.get('userName').touched && loginForm.get('userName').errors?.required">Username is required</mat-hint>
                                  </mat-form-field>
                                  <mat-form-field appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input matInput matInput [type]="hide ? 'password' : 'text'" placeholder="Your password" id="password" formControlName="password">
                                    <mat-hint style="color: red;" *ngIf="loginForm.get('password').touched && loginForm.get('password').errors?.required">Password is required</mat-hint>
                                </mat-form-field>
                                <button [disabled]="!aFormGroup.valid" type="submit">Login</button>
                                <div class="alert alert-warning" *ngIf="submitted && isLoginFailed">
                                    Login failed- {{ errorMessage }}
                                  </div>
                                <div class="forgot-password">
                                    <a routerLink="/">Forgot Password?</a>
                                </div>
                                </form>
                                <form [formGroup]="aFormGroup">
                                    <ngx-recaptcha2 #captchaElem
                                      [siteKey]="siteKey"
                                      formControlName="recaptcha">
                                    </ngx-recaptcha2>
                                  </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

