<ngb-accordion
    #acc="ngbAccordion"
    activeIds="ngb-panel-0"
    [destroyOnHide]="false"
>
    <ngb-panel [title]="'Section ' + (index + 1)">
        <ng-template ngbPanelContent>
            <div class="form-group mb-3">
                <label for="formGroupExampleInput">Section title</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Section title..."
                    name="section-title"
                    [(ngModel)]="title"
                    (change)="emitUpdated()"
                />
            </div>
            <button
                type="button"
                class="btn btn-primary mb-3 mt-3"
                (click)="addQuiz()"
            >
                Add Question
            </button>
            <app-add-question
                *ngFor="let number of num"
                [index]="number"
                [(question)]="questions[number]"
                (change)="emitUpdated()"
            ></app-add-question>

            <button
                type="button"
                class="btn btn-primary mb-3 mt-3"
                (click)="addLesson()"
            >
                Add Lesson
            </button>
            <app-add-lesson
                *ngFor="let number of numbers"
                [index]="number"
                [(lesson)]="lessons[number]"
                (change)="emitUpdated()"
            ></app-add-lesson>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
