<ngb-accordion
    #acc="ngbAccordion"
    [activeIds]="'ngb-panel-' + index"
    [destroyOnHide]="false"
>
    <ngb-panel [title]="'Section ' + (index + 1)" [id]="'ngb-panel-' + index">
        <ng-template ngbPanelContent>
            <div class="form-group mb-3">
                <label for="formGroupExampleInput">Section title</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Section title..."
                    name="section-title"
                    [value]="section.title"
                    (change)="onTitleChange($event)"
                />
            </div>
            <button
                type="button"
                class="btn btn-primary mb-3 mt-3"
                (click)="addQuestion()"
            >
                Add Question
            </button>
            <app-add-question
                *ngFor="let question of section.quiz.questions; let y = index"
                [index]="y"
                [question]="question"
            ></app-add-question>

            <button
                type="button"
                class="btn btn-primary mb-3 mt-3"
                (click)="addLesson()"
            >
                Add Lesson
            </button>
            <app-add-lesson
                *ngFor="let lesson of section.lesson; let y = index"
                [index]="y"
                [lesson]="lesson"
            ></app-add-lesson>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
