<app-header-style></app-header-style>

<div class="page-title-area page-title-style-two item-bg4">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Blog</li>
            </ul>

        </div>
    </div>
</div>

<div class="blog-area ptb-100">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-12" >
                <div class="row">

                        <div class="col-md-6" *ngFor='let post of posts  | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };' (click)="onClick(post)">
                            <div class="single-blog-post mb-30">
                                <div class="post-image">
                                    <a  class="d-block">
                                        <img *ngIf="post.photo"
                                            [src]="'data:image/jpg;base64,'+post.photo"
                                             style="height: 335px"
                                            alt="image"
                                        />
                                        <img *ngIf="!post.photo"
                                             src="assets/img/blog/blog3.jpg"
                                             alt="image"
                                        />
                                    </a>
                                    <div class="tag">
                                        <a >{{post.categoriePost}}</a>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <ul class="post-meta">
                                        <li class="post-author">
                                            <img
                                                src="assets/img/user2.jpg"
                                                class="d-inline-block rounded-circle mr-2"
                                                alt="image"
                                            />
                                            By:
                                            <a

                                                class="d-inline-block"
                                            >Lina D'Souja</a
                                            >
                                         
                                        </li>
                                        <li>
                                            <a
                                            >{{post.createDatePost | date:'dd-MM-yyyy, h:mm:ss'}}</a
                                            >
                                        </li>
                                    </ul>
                                    <h3>
                                        <a
                                            routerLink
                                            class="d-inline-block"
                                        >{{post.title}}</a
                                        >
                                    </h3>
                                    <a

                                        class="read-more-btn"
                                    >Read More
                                        <i class="bx bx-right-arrow-alt"></i
                                        ></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="posts.length > 0">
                        <div class="pagination-area text-center">
                            <div class="d-flex justify-content-center">
                                <pagination-controls
                                    previousLabel="Prev"
                                    nextLabel="Next"
                                    (pageChange)="onTableDataChange($event)"
                                >
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="col-lg-4 col-md-12">
                <aside class="widget-area">
                    <div class="widget widget_search">
                        <form class="search-form" #n="ngForm" (ngSubmit)="onSubmit(n.value)">
                            <label>
                                <span class="screen-reader-text"
                                >Search for:</span
                                >
                                <input ngModel
                                    type="search"
                                    class="search-field"
                                    name="keyWord"
                                    placeholder="Search..."
                                />
                            </label>
                            <button type="submit" >
                                <i class="bx bx-search-alt"></i>
                            </button>
                        </form>
                    </div>

                    <div class="widget widget_categories">
                        <h3 class="widget-title">Categories</h3>
                        <ul *ngFor="let cat of categories " (click)="onChangeCategories(cat)">
                            <li>
                                <a
                                >{{cat.name}}
                                    <span class="post-count">{{cat.nbre}}</span></a
                                >
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>   
</div>
