<app-header-style></app-header-style>

<div class="my-dashboard-area ptb-100">
    <div class="container">
        <div class="myDashboard-profile">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-5">
                    <div class="profile-image">
                        <img
                            src="{{ trainings[0].former.picture }}"
                            alt="image"
                        />
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="profile-content">
                        <h3>
                            {{
                                trainings[0].former.firstName +
                                    " " +
                                    trainings[0].former.lastName
                            }}
                        </h3>
                        <p>
                            A good teacher can help to transform even the most
                            seemingly helpless among us and help them to reach
                            their full potential. After all, behind every
                            success story is a teacher, whether inside or
                            outside of the classroom.
                        </p>
                        <ul class="contact-info">
                            <li>
                                <i class="bx bx-envelope"></i>
                                <a
                                    href="mailto:{{
                                        trainings[0].former.email
                                    }}"
                                    >{{ trainings[0].former.email }}</a
                                >
                            </li>
                            <li>
                                <i class="bx bx-phone"></i>
                                <a href="tel:+502464674">+216 55236897</a>
                            </li>
                            <li>
                                <i class="bx bx-world"></i>
                                <a [routerLink]="['/']">www.sheForSHE.com</a>
                            </li>
                        </ul>
                        <ul class="social">
                            <li>
                                <a href="#" class="d-block" target="_blank"
                                    ><i class="bx bxl-facebook"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" class="d-block" target="_blank"
                                    ><i class="bx bxl-twitter"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" class="d-block" target="_blank"
                                    ><i class="bx bxl-instagram"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" class="d-block" target="_blank"
                                    ><i class="bx bxl-linkedin"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" class="d-block" target="_blank"
                                    ><i class="bx bxl-pinterest-alt"></i
                                ></a>
                            </li>
                        </ul>
                        <a routerLink="/login" class="myDashboard-logout"
                            >Logout</a
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="myDashboard-navigation">
            <ul>
                <li>
                    <a routerLink="/my-dashboard" class="active"
                        ><i class="bx bxs-dashboard"></i> Dashboard</a
                    >
                </li>
                <li>
                    <a routerLink="/orders"
                        ><i class="bx bx-cart"></i> Orders</a
                    >
                </li>
                <li>
                    <a routerLink="/downloads"
                        ><i class="bx bx-download"></i> Downloads</a
                    >
                </li>
                <li>
                    <a routerLink="/edit-address"
                        ><i class="bx bx-home-alt"></i> Addresses</a
                    >
                </li>
                <li>
                    <a routerLink="/edit-account"
                        ><i class="bx bx-edit"></i> Account Details</a
                    >
                </li>
                <li>
                    <a routerLink="/"><i class="bx bx-log-out"></i> Logout</a>
                </li>
            </ul>
        </div>
        <div class="myDashboard-content">
            <p>
                Hello
                <strong
                    >{{
                        trainings[0].former.firstName +
                            " " +
                            trainings[0].former.lastName
                    }}
                </strong>
                (not
                <strong
                    >{{
                        trainings[0].former.firstName +
                            " " +
                            trainings[0].former.lastName
                    }} </strong
                >? <a routerLink="/login">Log out</a>)
            </p>
            <p>
                From your account dashboard you can view your
                <a routerLink="/orders">recent orders</a>, manage your
                <a routerLink="/edit-address">shipping and billing addresses</a
                >, <a routerLink="/edit-account">edit your password</a>, and
                <a routerLink="/edit-account">account details</a>.
            </p>
            <h3>Recent Orders</h3>
            <div
                class="recent-orders-table table-responsive"
                *ngFor="let training of trainings"
            >
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ training.title }}</td>
                            <td>
                                <markdown>
                                    {{ training.description.slice(0, 100) }}
                                </markdown>
                            </td>
                            <td>
                                <img
                                    src="{{
                                        'http://localhost:8086/SheApp/attachment/get/' +
                                            training?.imgTraining.id
                                    }}"
                                    class="rounded-circle mr-2"
                                    alt="image"
                                />
                            </td>
                            <td>{{ training.startDate }}</td>
                            <td>
                                <a
                                    [routerLink]="
                                        '/edit-course/' + training.idTraining
                                    "
                                    class="view-button"
                                    >Edit</a
                                >
                                <a
                                    routerLink="/single-courses"
                                    class="view-button"
                                    >Delete</a
                                >
                                <a
                                    [routerLink]="
                                        '/course-stats/' + training.idTraining
                                    "
                                    class="view-button"
                                    >Statistics</a
                                >
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
