<app-header-style></app-header-style>

<div class="page-title-area item-bg4">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>JobOffer</li>
            </ul>
            <h2>JobOffer</h2>
        </div>
    </div>
</div>
<div class="col-lg-5 col-md-12">
    <aside class="widget-area">
        <div class="widget widget_search">
            <form class="search-form">
                <label>
                    <span class="screen-reader-text"
                        >Search for:</span
                    >
                    <input
                        type="search"
                        class="search-field"
                        placeholder="Search..."
                    />
                </label>
                <button type="submit">
                    <i class="bx bx-search-alt"></i>
                </button>
            </form>
        </div>
    </aside>
</div>

<div class="events-area pt-100 pb-70">
    <div class="container">
        <div class="single-events-box mb-30" *ngFor="let jobs of offers">
            <div class="events-box" >
                <div class="events-image">
                    <div class="image bg1">
                        <img src="assets/img/events/app-bg.jpg" alt="image" />
                    </div>
                </div>
                <div class="events-content">
                    <div class="content">
                        <h3>
                            <a routerLink="/single-events"
                                >{{jobs.categorie}}</a
                            >
                        </h3>
                        <p>
                            {{jobs.description}}
                        </p>
                        <span class="location"
                            ><i class="bx bx-map"></i> Tunisia</span
                        >
                        &nbsp;  &nbsp; 
                        <a routerLink="/single-events" class="join-now-btn"
                            >Join Now</a
                        >
                        &nbsp; &nbsp; 
                        <a routerLink="/edit/{{jobs.id_job}}" class="join-now-btn"
                        >Update</a>
                        &nbsp; &nbsp; 
                        <a (click)="delete(jobs.id_job)" class="join-now-btn"
                        >Delete</a>
                   
                    </div>
                </div>
                
                <div class="events-date">
                    <div class="date">
                        <div class="d-table">
                            <div class="d-table-cell">
                                <br>
                                <h3>{{ jobs.hire_date | date }}</h3>
                                <i class="bx bx-calendar"></i>
                               
                            </div>
                            
                            <div class="date">
                                        
                                <div class="d-table">
                                    <div class="d-table-cell">
                                        
                                        <h3>{{ jobs.termination_date | date }}</h3>
                                        <i class="bx bx-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                
            </div>
        </div>
    </div>
</div>
