<section class="language-banner-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="language-banner-content">
                    <h1 style="color:rgb(255, 0, 106);">She for She</h1>
                    <p style="font-family: 'Franklin Gothic Medium', Arial, sans-serif ">
                        We are dedicated to empowering women to achieve their full economic potential by inspiring  women
                         to become advocates, change makers and leaders in their community. We equip them with resources,
                         opportunities and a global platform that facilitates networking, learning and sharing of experiences.
                    </p>
                    <a routerLink="/register" class="default-btn">
                        <i class="bx bx-user-circle icon-arrow before"></i>
                        <span class="label"> Join For Free </span>
                        <i class="bx bx-user-circle icon-arrow after"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="language-banner-image">
                    <img src="assets/img/instructor/women.png" alt="image" />
                </div>
            </div>
        </div>
    </div>
    <div class="lang-shape1">
        <img src="assets/img/lang-shape1.png" alt="image" />
    </div>
</section>
