<app-header-style></app-header-style>

<div class="page-title-area training-bg">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="courses-grid">Courses</a></li>
            </ul>
            <h2>Create new training</h2>
        </div>
    </div>
</div>

<div class="container">
    <md-editor
        name="Content"
        [upload]="doUpload"
        [height]="'200px'"
        [options]="options"
        required
        maxlength="500"
    >
    </md-editor>
</div>
